
@{
    ViewBag.Title = "About";
}
<div class="card text-white bg-dark mb-3 offset-4" style="max-width: 20rem;">
    <img class="card-img-top" style="width: 20rem;" src="https://as1.ftcdn.net/v2/jpg/01/26/50/64/1000_F_126506459_ydoEK22EmxnlUrl4MQgg4aUdwjERzMMo.jpg" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Ahmet Emir Kıdık</h5>
        <p class="card-text ">Yaklaşık ödev 12 saatte bitmiştir Xamarin yetişmedi</p>
        <p class="card-text "><small>umarım yüksek alır çok uykusuz</small></p>
    </div>
    </div>
